<div ng-controller="ProfileController as pc" ng-init="initFunction()">
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <div class="panel chefProfileCard ">
                    <img class="chef-Profile-Image" ng-src="{{baseURL}}{{pc.currentUser.photoURL}}" alt="{{pc.currentUser.fName}} {{pc.currentUser.lName}}">
                    <div class="panel-body ">
                        <p class="chef-Profile-Name">{{pc.currentUser.fName}} {{pc.currentUser.lName}}</p>
                        <p>Member since: {{pc.currentUser.timestamp| date : "MMM d, y"}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="panel recipeCardShadowLess">

                        <div id="accordion" aria-multiselectable="true">
                            <div class="panel-heading">
                                <h4>
                                    <a class="collapsed postReceipe" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo" ng-click="isAutoScroll()"> <span style="margin-bottom: 25px;">Post a receipe</span> <span class="pull-right glyphicon glyphicon-plus "></span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-body postReceipeBody">
                                <div id="postReceipeCard " ng-class="autoScroll ? 'collapse' : 'collapse in'" aria-labelledby="headingTwo ">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="group ">
                                                    <input class="inputWithBar" type="text " ng-model="pc.receipe.receipename" name=" " required>
                                                    <span class="bar "></span> <label>Receipe Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="group ">
                                                    <select class="inputWithBar" style="background: transparent" ng-model="pc.receipe.cuisine">
														<option value="American">American</option>
														<option value="British">British</option>
														<option value="Caribbean">Caribbean</option>
														<option value="Chinese">Chinese</option>
														<option value="French">French</option>
														<option value="Greek">Greek</option>
														<option value="Indian">Indian</option>
														<option value="Italian">Italian</option>
														<option value="Japanese">Japanese</option>
													</select> <span class="bar"></span> <label>Receipe Cuisine</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="group ">
                                            <input class="inputWithBar" type="text " ng-model="pc.receipe.desc " name=" " required> <span class="bar "></span> <label>Receipe Description</label>
                                        </div>
                                        <p style="margin-bottom: 20px; color: #7e7e7e">
                                            <strong>Instructions</strong>
                                        </p>
                                        <div class="group " data-ng-repeat="step in steps ">
                                            <input class="inputWithBar" type="text " ng-model="step.desc" name=" " ng-focus="addNewStep($last) " required> <span class="bar "></span> <label>{{ $index + 1 }}</label>
                                            <button class="remove " ng-show="!$first " ng-click="removeStep() ">
												<span class="glyphicon glyphicon-remove-circle "></span>
											</button>
                                        </div>
                                        <p style="margin-bottom: 20px; color: #7e7e7e">
                                            <strong>Ingredients</strong>
                                        </p>
                                        <div class="group " data-ng-repeat="ingd in ingredients ">

                                            <input type="number" ng-model="ingd.qty" min="0.25" step="0.25" ng-focus="addNewIngredient($last) " required style="width: 9%; text-align: right;" placeholder="  qty">

                                            <select style="background: transparent; width: 10%; padding-bottom: 2px;" ng-model="ingd.qtyUnit" required>
												<option value="tsp">tsp</option>
												<option value="tbsp">tbsp</option>
												<option value="cups">cups</option>
												<option value="pints">pints</option>
											</select> <input type="text" class="inputWithBar" ng-model="ingd.desc" name=" " ng-focus="addNewIngredient($last) " required style="width: 75%;"> <span class="bar"></span> <label>{{
												$index + 1 }}</label>
                                            <button class="remove " ng-show="!$first " ng-click="removeIngredient() ">
												<span class="glyphicon glyphicon-remove-circle "></span>
											</button>
                                        </div>
                                        <div class="group" id="direct_upload" ng-model="files">
                                            <div href="#" class="upload_button" style="height: 30px;" ngf-select="uploadFiles($files)" title="upload" resetOnClick="true">Choose file</div>
                                            <span>{{message}}</span>
                                        </div>
                                        <div class="group" style="text-align: center;">
                                            <input type="button" class="submitPost" value="Post it.." ng-click="postReceipe()" required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="pc.loadingBlock" style="text-align:center;">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row " ng-repeat="feed in newsfeedDetails" ng-show="newsfeedDetails">
                    <div class="panel recipeCard ">
                        <div class="recipeCard-title ">

                            <img src="../images/batman.png " class="chefImage "><a ng-href="/userProfile/{{ feed.username }}" class="chefName ">{{
								feed.name }}</a> posted <span class="highlight-blue ">{{
								feed.receipename }}</span> <span class="pull-right timeAgo " am-time-ago="feed.timestamp "></span>
                        </div>
                        <div class="panel-body ">
                            <img class="recipeImage " src="{{baseURL}}{{feed.photoURL}}" alt="Dosa ">
                            <div>
                                {{ feed.receipename }} <span class="likesLabel">{{
									feed.totalLikes}}&nbsp;likes</span>
                                <button type="button" class="viewReceipeBtn" ng-click="likePost($event, feed)">
									<span ng-hide="feed.isLiked"
										class="glyphicon glyphicon-heart-empty likeIcon"></span> <span
										ng-show="feed.isLiked"
										class="glyphicon glyphicon-heart likeIcon"></span>
									<!--<span ng-hide="($index == selectedIndex)"class="glyphicon glyphicon-heart-empty"></span>
                                <span ng-show="($index == selectedIndex)" class="glyphicon glyphicon-heart"></span>-->
								</button>
                            </div>
                            <div class="feedDesc">{{ feed.desc }}</div>
                            <div></div>
                            <div>
                                <button type="button" class="viewReceipeBtn" ng-click="viewReceipe(feed.id)">View Receipe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel recipeCardShadowLess" style="width: 90%">
                    <div class="panel-heading recipeCard-title ">About the application
                    </div>
                    <div class="panel-body ">
                        <div>
                            <p>This application is a recipe blog created to share recipes by chefs. It includes features like sign up, sign in, sign out, posting and viewing recipes. Chefs can send a follow request to a chef and view the entire recipe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>